REST_APP_HOST=0.0.0.0
REST_APP_PORT=8000
REST_APP_TITLE=API

AUTH_SECRET_KEY=
AUTH_ALGORITHM=HS256
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=60

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=smpcrawl
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
